* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
}

/** HEADER **/

.page-header {
  background-color: #000;
  font-family: "Lexend Tera", sans-serif;
}

.page-header h1 {
  padding: 15px;
  color: #fff;
  text-align: center;
}

.page-main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-main .list-inline {
  display: flex;
}

.page-main .list-item {
  padding: 10px;
  margin: 0 20px 0 20px;
  list-style: none;
  background-color: #000;
  border-radius: 15px;
}

.page-main .list-item a {
  color: #fff;
  text-decoration: none;
}

.page-footer {
  background-color: #000;
}

.page-footer h4 {
  color: #fff;
  padding: 10px 0 10px 0;
  text-align: center;
}

