// Main
.page-main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .list-inline {
        display: flex;
    }
    
    .list-item {
        padding: 10px;
        margin: 0 20px 0 20px;
        list-style: none;
        background-color: $black;
        border-radius: 15px;

        a { 
            color: $white;
            text-decoration: none;
        }
    }
}